.benefits{
    padding-top: 94px; ;
}

.benefits__container{
    display: flex;
    gap: 30px;
}

.benefits__img{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits__name{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}

.benefits__title{
    color: $secondary-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}